<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <app-seleccionar-cliente 
                [nombre]="clienteSeleccionado.nombre" 
                (seleccionoCliente)="asignarCliente($event)"
                (canceloCliente)="eliminarCliente()">
            </app-seleccionar-cliente>
            <div class="form-group">
                <label for="">Precio</label>
                <select [(ngModel)]="idPrecio" (change)="seleccionarPrecio($event.target)" class="form-control">
                    <option value="null">Seleccione un precio</option>
                    <option *ngFor="let precio of precios" [value]="precio.id">{{precio.nombre}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Fecha Inicio</label>
                <input class="form-control" type="text" disabled [value]="inscripcion.fecha | date">
            </div>
            <div class="form-group">
                <label for="">Fecha finalizada</label>
                <input class="form-control" type="text" disabled [value]="inscripcion.fechaFinal | date">
            </div>
            <div class="form-group">
                <label for="">Subtotal</label>
                <input class="form-control" type="number" disabled [value]="inscripcion.subTotal">
            </div>
            <div class="form-group">
                <label for="">ISV</label>
                <input class="form-control" type="number" disabled [value]="inscripcion.isv">
            </div>
            <div class="form-group">
                <label for="">Total</label>
                <input class="form-control" type="number" disabled [value]="inscripcion.total">
            </div>
            <div class="mt-2">
                <button class="btn btn-primary" (click)="guardar()">Guardar</button>
            </div>
        </div>
        <div class="col-sm-6">
            <div *ngIf="clienteSeleccionado.imgUrl" class="clienteImg">
                <img [src]="clienteSeleccionado.imgUrl">
            </div>
        </div>
    </div>
</div>
