<div class="container mt-5">
    <form action="" [formGroup]="formularioCliente">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" placeholder="Agregue el nombre" formControlName="nombre">
                    <div *ngIf="formularioCliente.controls['nombre'].invalid && formularioCliente.controls['nombre'].dirty" class="alert alert-danger mt-2" role="alert">
                        <span *ngIf="formularioCliente.controls['nombre'].errors?.['required']">El nombre es requerido</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input type="text" class="form-control" placeholder="Agregue el Apellido" formControlName="apellido">
                    <div *ngIf="formularioCliente.controls['apellido'].invalid && formularioCliente.controls['apellido'].dirty" class="alert alert-danger mt-2" role="alert">
                        <span *ngIf="formularioCliente.controls['apellido'].errors?.['required']">El apellido es requerido</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Correo</label>
                    <input type="text" class="form-control" placeholder="Agregue el correo" formControlName="correo">
                    <div *ngIf="formularioCliente.controls['correo'].invalid && formularioCliente.controls['correo'].dirty" class="alert alert-danger mt-2" role="alert">
                        <span *ngIf="formularioCliente.controls['correo'].errors?.['required']">El correo es requerido</span>
                        <span *ngIf="formularioCliente.controls['correo'].errors?.['email']">El correo no es valido</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Cedula</label>
                    <input type="text" class="form-control" placeholder="Agregue una cedula" formControlName="cedula">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" class="form-control" formControlName="fechaNacimiento">
                    <div *ngIf="formularioCliente.controls['fechaNacimiento'].invalid && formularioCliente.controls['fechaNacimiento'].dirty" class="alert alert-danger mt-2" role="alert">
                        <span *ngIf="formularioCliente.controls['fechaNacimiento'].errors?.['required']">La fecha de nacimiento es requerida</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Telefono</label>
                    <input type="tel" class="form-control" placeholder="Agregue un número de telefono" formControlName="telefono">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="">Imagen</label>
                    <input (change)="subirImg($event)" type="file" class="form-control" placeholder="Agregue su imagen" formControlName="imgUrl">
                    <div *ngIf="formularioCliente.controls['imgUrl'].invalid && formularioCliente.controls['imgUrl'].dirty" class="alert alert-danger mt-2" role="alert">
                        <span *ngIf="formularioCliente.controls['imgUrl'].errors?.['required']">La imagen es requerida</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 mt-2">
            <progressbar [value]="cargaImg" type="danger" [striped]="true">{{cargaImg}}%</progressbar>
        </div>
        <button *ngIf="!esEditable" [disabled]="formularioCliente.invalid" class="btn btn-primary mt-2" (click)="agregar()">Agregar</button>
        <button *ngIf="esEditable" class="btn btn-primary mt-2" (click)="editar()">Editar</button>
    </form>
</div>
