<div *ngIf="Usuarios !== ''; else showLogin">
  <app-encabezado (vcerrarSession)="ngOnInit()"></app-encabezado>
  <router-outlet></router-outlet>
</div>

<ng-template #showLogin>
  <div class="container">
    <app-login (RUsuarios)="recibiRespuesta($event)"></app-login>
  </div>
</ng-template>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="pacman" [fullScreen]="true">
  <p style="color: white"> Cargando... </p>
</ngx-spinner>
