<div class="container">
    
    <div class="text-center">
        <img src="assets/logo.png" alt="">
        <h3>Bienvenido, Por favor ingresa tus datos</h3>
    </div>

    <form [formGroup]="formularioLogin">
        <div class="mb-3">
            <label for="correo" class="form-label">Correo electronico:</label>
            <input type="email" class="form-control" id="correo" formControlName="email" placeholder="ingrese su correo..." autocomplete="off">
            <div *ngIf="formularioLogin.controls['email'].invalid && formularioLogin.controls['email'].dirty" class="alert alert-danger mt-1" role="alert">
                <span *ngIf="formularioLogin.controls['email'].errors?.['required']">El correo es requerido</span>
                <span *ngIf="formularioLogin.controls['email'].errors?.['email']">El correo no es valido</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="col-sm-2 col-form-label">Contraseña:</label>
            <div class="col-sm-12">
                <input type="password" (keyUp.enter)="Ingresar()" class="form-control" id="password" formControlName="password" placeholder="ingrese su contraseña...">
                <div *ngIf="formularioLogin.controls['password'].invalid && formularioLogin.controls['password'].dirty" class="alert alert-danger mt-1" role="alert">
                    <span *ngIf="formularioLogin.controls['password'].invalid">La contraseña es requerida</span>
                </div>
            </div>
        </div>
        <button (click)="Ingresar()" [disabled]="formularioLogin.invalid" class="btn btn-primary">Ingresar</button>
    </form>

    <div *ngIf="!datosCorrectos" class="alert alert-warning mt-2" role="alert">
        {{textoError}}
    </div>
</div>
