<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">MasterGym</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Inscripción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="listado-inscripciones">Ver inscripciónes</a>
          </li>
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle class="nav-link dropdown-toggle" role="button" aria-expanded="false">
              Clientes
            </a>
            <ul class="dropdown-menu" *dropdownMenu>
              <li><a class="dropdown-item" routerLink="agregar-cliente">Agregar</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="listado-clientes">Ver clientes</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/precios">Precios</a>
          </li>
        </ul>
        <button class="btn btn-danger" (click)="cerrarSession()">Salir</button>
      </div>
    </div>
  </nav>
