<div class="container mt-5">
    <div class="row">
        <div class="col-sm-8">
            <h4>Precios</h4>
            <ul *ngFor="let precio of preciosArray">
                <li>
                    <a (click)="editarPrecio(precio)">{{ precio.nombre }} id: {{ precio.id }}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h4>Agregar/Editar</h4>
            <form [formGroup]="formularioPrecios">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input class="form-control" type="text" formControlName="nombre">
                </div>
                <div class="form-group">
                    <label for="nombre">Costo</label>
                    <input class="form-control" type="number" formControlName="costo">
                </div>
                <div class="form-group">
                    <label for="nombre">Duración</label>
                    <input class="form-control" type="number" formControlName="duracion">
                </div>
                <div class="form-group">
                    <label for="nombre">Tipo Duración</label>
                    <select class="form-control" formControlName="tipoDuracion">
                        <option value="1">Dia</option>
                        <option value="2">Semana</option>
                        <option value="3">Quincena</option>
                        <option value="4">Mes</option>
                        <option value="5">Año</option>
                    </select>
                </div>
                <div class="mt-2">
                    <button *ngIf="!esEditar" class="btn btn-primary" (click)="agregar()">Agregar</button>
                    <button *ngIf="esEditar" class="btn btn-danger mr-1" (click)="editar()">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>