<div id="div1" class="container">
    <div class="row mt-3">
        <h4>Listado de clientes</h4>
        <form action="" class="mb-2">
            <input class="form-control" type="text" placeholder="Busque un cliente">
        </form>
        <div class="col-sm-3" *ngFor="let Cliente of Clientes;">
            <div class="card container">
                <img class="card-img-top mt-1"
                    [src]="Cliente.imgUrl">
                <div class="card-body">
                    <p>ID:{{Cliente.id}}</p>
                    <h5 class="card-title">{{Cliente.nombre+' '+Cliente.apellido}}</h5>
                    <a [routerLink]="['/agregar-cliente/', Cliente.id]" class="card-link">Editar</a>
                    <a class="card-link text-danger">Desactivar</a>
                </div>
            </div>
        </div>
    </div>
</div>